:root {
    /* Cores Principais do ERP Delta */
    --color-primary: #369ED8;
    --color-primary-dark: #2a7ca9;
    --color-primary-light: #5fb1df;
    
    --color-secondary: #B1C8CA;
    --color-secondary-dark: #8da4a6;
    --color-secondary-light: #d3e2e3;

    /* Cores de Ação */
    --color-action-default: #369ED8;
    --color-action-hover: #2a7ca9;
    --color-action-active: #2a7ca9;
    --color-action-pressed: #2a7ca9;
    --color-action-selected: #369ED8;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
}

.po-menu-item-selected, 
.po-menu-sub-item-selected {
    background-color: rgba(54, 158, 216, 0.1) !important;
    color: #369ED8 !important;
    border-left-color: #369ED8 !important;
}